:root {
	--nse-background: #262c30;

	--nse-background10: #323a3f;
	--nse-background20: #2a3135;
	--nse-background100: #1b2125;

	--nse-border: #363e42;

	--nse-foreground: #fff;

	--nse-primary: #47a2d6;
	--nse-primary100: #28739e;

	--nse-green: #548656;
}

body {
	font-family: 'Outfit', sans-serif;

	background: var(--nse-background);
	color: var(--nse-foreground);

	margin: 0;
}

* {
	box-sizing: border-box;
}
