:root {
	--nse-background: #1c2022; //#262c30;

	--nse-background10: #262c2f; //#323a3f;
	--nse-background20: #22282b; //#2a3135;
	--nse-background100: #101518; //#1b2125;

	--nse-border: #363e42;

	--nse-foreground: #fff;

	--nse-primary: #47a2d6;
	--nse-primary100: #28739e;

	--nse-green: #548656;

	// Date picker
	--date-picker-foreground: var(--nse-foreground);
	--date-picker-background: var(--nse-background20);
	--date-picker-highlight-border: var(--nse-primary);
}

body {
	font-family: 'Outfit', sans-serif;

	background: var(--nse-background);
	color: var(--nse-foreground);

	margin: 0;
}

.date-time-field input {
	font: inherit;
	padding: 12px 24px !important;
	width: 100% !important;
}

* {
	box-sizing: border-box;
}
